.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar div {
  padding: 20px 20px;
}
.navbar a {
}
.navbar a:hover {
  color: red;
}
section::after {
  margin: auto 10%;
}
